logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage
node_modules/
.npm

.eslintcache
*.tgz

.env
.env.test

.cache
.next
.nuxt

/unpackage/*
!/unpackage/debug/android_debug.apk
!/unpackage/res

/package-lock.json
/apk
