/* 横图片 */
$imgtTansverse: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAZBAMAAAA1cJZ4AAAAJ1BMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzPHTiPJAAAADHRSTlMA8ot097giF7/CEAx3SheHAAAAgElEQVQ4y5XNMQ2AMBQG4RcwgAjGSqgEZmYkEEwgggUBmGBoAklFMf4UaK7cfvnsno+ZwmDf1TFbbwoQMYAAA4gYRpgRwowQaCbk3TESwozn5VyfCLcky1ayhGSZSpbGkhwfu6VVXSmi2r+IGEaYEQIMI2IYYUYIM4yIYUS5IuQC4v9rJL4oWZ4AAAAASUVORK5CYII=';
/* 竖着图片 */
$imgVertical: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAABkBAMAAACBe4ZPAAAAJ1BMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzPHTiPJAAAADHRSTlMA8ot097kkwR0WDRJpUGjKAAAAe0lEQVQ4y+3JoQ3CUBhF4UMdOyCRCAZBoAhBMQY4RmCEjtARmjRNzT9Ub1Jx7wov6XEnH011HPK6Ke9S16CqwHOVsbuVMEkYJEwSBgmThBsZRYEVjfvt19Cd4u4cPPObwAcIg4RBQpPxCcb5B8YPGJc/GL9gXHqiF021AtKHfQUu95HAAAAAAElFTkSuQmCC';
/* 宽度 */
$border-width: 24%;
/* 处理图片显示 */
@mixin diffstyle ($img){
	// border: 1px blue solid;
	position: absolute;
	box-sizing: border-box;
	background: url($img) no-repeat;
	background-size: 100% 100%;
	opacity: 0.05;
	&.active {
		opacity: 1;
	}
}
