html {
	max-width: 750px;
	margin: 0px auto;
}

page, body {
	background-color: #FFFFFF;
}

.navigator-hover {
	background: none;
}

.bg-theme {
    background-color: #2ACDCA !important;
}

.text-theme {
    color: #2ACDCA !important;
}

.text-red-FF0000 {
    color: #FF0000 !important;
}

.text-black-222 {
    color: #222222;
}

.radius-df {
    border-radius: 20upx;
}

.text-gray-A8B0BD {
    color: #A8B0BD;
}

.text-gray-999999 {
    color: #999999;
}

.icon--df {
    width: 38upx;
    height: 38upx;
}

.bg-yellow {
    background-color: #FD9337;
    color: #fff;
}

.chagesize-sm {
  transform: scale(0.7,0.7);
}

.text-height-df {
    line-height: 1.5;
}

.text-underline {
    text-decoration: underline
}

.margin-top-xxl {
    margin-top: 80upx;
}

.card-border {
    margin: 0px 30upx;
    border-bottom: 1upx dashed #A8B0BD;
    position: relative;

    &::after {
        position: absolute;
        left: -18px;
        top: -16rpx;
        content: "";
        width: 25rpx;
        height: 32rpx;
        // border:1px solid #FE801F;
        background: linear-gradient(90deg, #FD9337, #FE801F);
        border-radius: 0 200upx 200upx 0;
    }

    &::before {
        position: absolute;
        right: -18px;
        top: -16rpx;
        content: "";
        width: 25rpx;
        height: 32rpx;
        // border:1px solid #FE801F;
        background: linear-gradient(90deg, #FD9337, #FE801F);
        border-radius: 200upx 0 0 200upx;
    }
}

.text-gray-607185 {
    color: #607185
}

.text-gray-c2c2c2 {
    color: #c2c2c2
}

.text-gray-BAB8B8 {
    color: #BAB8B8
}

.text-gray-B4B4B4 {
    color: #B4B4B4
}

.text-blue-2E55CD {
    color: #2E55CD
}

.border-theme {
    border: 1px solid $uni-color-theme
}

.cu-tag.border-theme, .cu-btn.border-theme {
    background: none;
}

.bg-gary-f7f7f7 {
    background: #F7F7F7;
}

.text-nowrap-df {
    width: 160upx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-round {
    width: 40upx;
    height: 40upx;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F36B14;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
}

.bg-none {
    background: none !important;
}

.bg-gary-f8f8f8 {
    background: #F8F8F8;
}

.text-height-1 {
    line-height: 1;
}

.text-green-35A639 {
    color: #35A639;
}

.bg-theme-rgba {
    background: rgba(243, 107, 20, .08);
}

.w-full {
    width: 100%;
}

.cu-avatar {
    border-radius: 50%;
}

.border-gary {
    border: 1upx solid #607185;
}

.uni-checkbox-input.uni-checkbox-input-checked {
    background: #F36B14;
    border: 1upx solid #F36B14;
}

.cu-bar.foot, .cu-bar.fixed, .nav.fixed {
    z-index: 99;
}

.text-line-through {
    text-decoration: line-through
}


uni-swiper .uni-swiper-dot {
    background-color: rgba(46, 205, 203, 0.4) !important;
}

uni-swiper .uni-swiper-dot.uni-swiper-dot-active {
    background-color: rgba(46, 205, 203, 1) !important;
}

.opacity-50 {
    opacity: .5;
}

.solid-bottom.last-child:last-child {
    &::after {
        opacity: 0;
    }

    &.padding-bottom {
        padding-bottom: 0 !important;
    }
}

.border-bottom-E3E3E3 {
    border-bottom: 1px solid #E3E3E3;
}

.text-black-000 {
    color: #000;
}

// #F49379
// #CF5E5E
// #7271E2
// #FFA35D
// #469ADC
// #D07D4A

.bg-block-1 {
    background-color: #F49379
}

.bg-block-2 {
    background-color: #CF5E5E
}

.bg-block-3 {
    background-color: #7271E2
}

.bg-block-4 {
    background-color: #FFA35D
}

.bg-block-5 {
    background-color: #469ADC
}

.bg-block-6 {
    background-color: #D07D4A
}

.shadow-sm {
    box-shadow: 0 -3upx 20upx rgba(0, 0, 0, 0.08);
}

.grid.col-2 {
    > * {
        width: calc(50% - 20upx) !important;
        margin-right: 40upx;

        &:nth-child(2n) {
            margin-right: 0
        }
    }
}

.border-box {
    box-sizing: border-box;
}

.border-bottom-D8D8D8 {
    border-bottom: 1px solid #D8D8D8;
}

.text-xxxl {
	font-size: 55upx;
}

.padding-top-xxl {
    padding-top: 100upx;
}

.text-gray-666 {
    color: #666;
}

.border-none {
    border: none !important;

    &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px white inset;
    }

    &:focus {
        border: none !important;
    }
}
