html {
	max-width: 750px;
	margin: 0px auto;
}

body {
	background-color: #fff;
}

.navigator-hover {
	background: none;
}

uni-swiper .uni-swiper-dot {
	width: 26px;
	height: 3px;
	border-radius: 0px;
}

uni-swiper .uni-swiper-dot.uni-swiper-dot-active {
	background: rgba(251, 95, 36, 1);
}