html {
	max-width: 750px;
	margin: 0px auto;
}

body {
	background-color: #fff;
}

.navigator-hover {
	background: none;
}

uni-swiper .uni-swiper-dot {
	width: 26px;
	height: 3px;
	border-radius: 0px;
}

uni-swiper .uni-swiper-dot.uni-swiper-dot-active {
	background: rgba(251, 95, 36, 1);
}

.bg-theme {
    background-color: #FF7701;
}

.text-theme {
    color: #FF7701;
}

.text-gray-607185 {
    color: #607185;
}

.text-black-071329 {
    color: #071329;
}

.radius-df {
    border-radius: 20upx;
}